.elementreset {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none; // Fix to stop Safari on mobile resizing fonts
    vertical-align: baseline;
}
